$button-bd-radius: $element-bd-radius !default;
$button-bd-color: $element-bd-color !default;
$button-bg-color: $element-bg-color !default;
$button-disabled-bg-color: $element-disabled-bg-color !default;
$button-text-color: $is-text-darken-color !default;

$button-focus-color: $link-focus !default;
$button-focus-border-color: $link-focus-border !default;
$button-focus-box-shadow-size: 0 0 0 0.125em !default;
$button-focus-box-shadow-color: rgba($link, 0.25) !default;

$button-link-color: $text !default;
$button-link-hover-background-color: $background !default;
$button-link-hover-color: $text-strong !default;

@mixin button-small {
  border-radius: $radius-small;
  font-size: $size-small;
}

@mixin button-medium {
  font-size: $size-medium;
}

@mixin button-large {
  font-size: $size-large;
}

@mixin make-button-variant($color-invert, $color, $button-focus-box-shadow-size) {
  &.is-outlined {
    color: $color;
    background-color: $color-invert;
    border-color: darken($color, 2);

    &:hover,
    &.is-hovered {
      color: $color-invert !important;
    }

    &:focus,
    &.is-focused {
      border-color: transparent;
      color: $color;

      &:not(:active) {
        box-shadow: $button-focus-box-shadow-size rgba($color, 0.25);
      }
    }

    &.is-active,
    &:active {
      color: $color-invert;
    }

    &.is-loading {
      &::after {
        border-left-color: $color;
        border-bottom-color: $color;
      }
    }
  }

  color: $color-invert;
  border-color: darken($color, 2);
  background-color: $color;

  &:hover,
  &.is-hovered {
    background-color: darken($color, 6);
  }

  &:focus,
  &.is-focused {
    border-color: transparent;
    color: $color-invert;

    &:not(:active) {
      box-shadow: $button-focus-box-shadow-size rgba($color, 0.25);
    }
  }

  &.is-disabled,
  &:disabled,
  &[disabled] {
    color: $color-invert !important;
    background-color: lighten($color, 5) !important;
    border-color: transparent !important;
  }

  &:active,
  &.is-active {
    background-color: darken($color, 10);
  }

  &.is-loading::after {
    border-left-color: $color-invert;
    border-bottom-color: $color-invert;
  }
}
