//// Typo Size . design base on root 16px ////
$size-1: 3rem !default; // 48px
$size-2: 2.5rem !default; // 40px
$size-3: 2rem !default; // 32px
$size-4: 1.5rem !default; // 24px
$size-5: 1.25rem !default; // 20px
$size-6: 1rem !default; // 16px
$size-7: 0.75rem !default; // 12px

$weight-light: 300 !default;
$weight-normal: 400 !default;
$weight-semibold: 500 !default;
$weight-bold: 700 !default;

// Responsiveness
// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet: 769px !default;

// 960px container + 40px
$desktop: 1000px !default;

// 1152px container + 40
$widescreen: 1192px !default;

// 1344px container + 40
$fullhd: 1384px !default

// Meaningful size
$size-small: $size-7 !default;
$size-normal: $size-6 !default;
$size-medium: $size-5 !default;
$size-large: $size-4 !default;

//// Lists
$sizes: $size-1 $size-2 $size-3 $size-4 $size-5 $size-6 $size-7 !default;
