// 清除浮动
@mixin clearfix {
  &::after {
    clear: both;
    content: " ";
    display: table;
  }
}

// 水平或垂直居中(定宽或定高)
@mixin center($width, $height: 0) {
  position: absolute;

  @if $height != 0 {
    left: calc(50% - (#{$width} / 2) - 0.5px);
    top: calc(50% - (#{$height} / 2) - 0.5px);
  } @else {
    left: calc(50% - (#{$width} / 2) - 0.5px);
    top: calc(50% - (#{$width} / 2) - 0.5px);
  }
}

// 不可选择
@mixin unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// 处理a标签
@mixin strip-a {
  // 去除下划线
  text-decoration: none;

  // 去除默认焦点
  outline: none;
}

@mixin placeholder {
  $placeholders: ":-moz" ":-webkit-input" "-moz" "-ms-input";

  @each $placeholder in $placeholders {
    &:#{$placeholder}-placeholder {
      @content;
    }
  }
}

@mixin arrow($color) {
  border: 1px solid $color;
  border-right: 0;
  border-top: 0;
  content: " ";
  display: block;
  height: 0.5em;
  pointer-events: none;
  position: absolute;
  transform: rotate(-45deg);
  width: 0.5em;
}

// 重置ul
@mixin reset-ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

// 行块
@mixin block-row {
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

// 列块
@mixin block-col {
  &:not(:last-child) {
    margin-right: 1.5rem;
  }
}
