@mixin animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@mixin animated-infinite {
  animation-iteration-count: infinite;
}

@mixin make-spin-around {
  animation: v-kf-spin-around 500ms infinite linear;
}

@mixin loader {
  @include make-spin-around;
  border: 2px solid $border;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  box-sizing: $box-sizing;
  height: 1em;
  width: 1em;
  position: relative;
}
