// 默认行高 line-height(1.0~1.2)
$line-height-default: 1.25 !default;

// 默认字体
$font-size-12: 12px !default;
$font-size-14: 14px !default;
$font-size-16: 16px !default;
$font-size-20: 20px !default;
$font-size-important: false !default;

// 默认补白
$pad-padding-sm: 0.25 * $size-unit !default;
$pad-padding-default: 0.5 * $size-unit !default;
$pad-padding-lg: 0.75 * $size-unit !default;
$pad-padding-important: false !default;

// 行高
@mixin make-line-height-default {
  line-height: $line-height-default;
}

// 字体
@mixin make-font-size-default($font-size: $font-size-16, $important: $font-size-important) {
  @if $important {
    font-size: $font-size !important;
  }
  @else {
    font-size: $font-size;
  }
}

@mixin make-font-size-sm($important: $font-size-important) {
  @include make-font-size-default($font-size-12, $important);
}

@mixin make-font-size-lg($important: $font-size-important) {
  @include make-font-size-default($font-size-20, $important);
}

// 内补白
@mixin make-pad-default($padding: $pad-padding-default, $important: $pad-padding-important) {
  @if $important {
    padding: $padding !important;
  }
  @else {
    padding: $padding;
  }
}

@mixin make-pad-sm($important: $pad-padding-important) {
  @include make-pad-default($pad-padding-sm, $important);
}

@mixin make-pad-lg($important: $pad-padding-important) {
  @include make-pad-default($pad-padding-lg, $important);
}

// 默认字体
@mixin make-size-default {
  @include make-line-height-default;
  @include make-font-size-default;
  @include make-pad-default;
}

// 小号
@mixin make-size-sm {
  @include make-font-size-sm;
  @include make-pad-sm;
}

// 大号
@mixin make-size-lg {
  @include make-font-size-lg;
  @include make-pad-lg;
}

// 矩形
$element-line-height-default: floor($font-size-14 * $line-height-default) + 2px !default;

@mixin make-square-default {
  width: calc(#{$element-line-height-default} + #{$pad-padding-default * 2});
  height: calc(#{$element-line-height-default} + #{$pad-padding-default * 2});
}

$element-line-height-sm: floor($font-size-12 * $line-height-default) + 2px !default;

@mixin make-square-sm {
  width: calc(#{$element-line-height-sm} + #{$pad-padding-sm * 2});
  height: calc(#{$element-line-height-sm} + #{$pad-padding-sm * 2});
}

$element-line-height-lg: floor($font-size-16 * $line-height-default) + 2px !default;

@mixin make-square-lg {
  width: calc(#{$element-line-height-lg} + #{$pad-padding-lg * 2});
  height: calc(#{$element-line-height-lg} + #{$pad-padding-lg * 2});
}
