@import "icon-meta";

.has-icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: $icon-dimensions;
  width: $icon-dimensions;

  // Sizes
  &.is-small {
    height: $icon-dimensions-small;
    width: $icon-dimensions-small;
  }

  &.is-medium {
    height: $icon-dimensions-medium;
    width: $icon-dimensions-medium;
  }

  &.is-large {
    height: $icon-dimensions-large;
    width: $icon-dimensions-large;
  }

  @each $type, $pair in $colors {
    $color: nth($pair, 1);
    &.has-text-#{$type} {
      color: $color;
    }
  }

  // Colors
  @each $theme-type, $theme-color in $is-theme-colors {
    &.#{$theme-type} {
      @include make-icons-variant($is-text-light-color);

      &.is-outline {
        @include make-icons-variant($theme-color);

        &:hover,
        &:focus,
        &.is-active,
        &:active {
          @include make-icons-variant($is-text-light-color);
        }
      }

      &.is-icon-arrow {
        &::after {
          border-left-color: $theme-color;
          border-top-color: $theme-color;
        }
      }

      &.is-icon-caret {
        &::after {
          border-top-color: $theme-color;
        }
      }

      &.is-icon-right {
        &::after {
          border-left-color: $theme-color;
          border-bottom-color: $theme-color;
        }
      }

      &.is-icon-close {
        &::before,
        &::after {
          background-color: $theme-color;
        }
      }
    }
  }
}

// 垂直三角
.is-icon-caret {
  &::after {
    @include make-icon-caret($icon-default-bd-color);
  }
}

// 对号
.is-icon-right {
  &::after {
    @include make-icon-right($icon-default-bd-color);
  }
}

// 下箭头
.is-icon-arrow {
  &::after {
    @include make-icon-arrow($icon-default-bd-color);
  }
}

// 关闭
.is-icon-close {
  @include make-icon-close($icon-default-bd-color);
}

.is-icon-wrap,
.is-icon-caret,
.is-icon-right,
.is-icon-arrow,
.is-icon-close {
  @include make-icon-wrap;
}

// 三角箭头翻转
.is-open,
.has-hover-open:hover {
  .is-icon-caret::after {
    -webkit-transform: rotate(180deg) translateY(50%);
    transform: rotate(180deg) translateY(50%);
  }

  .is-icon-arrow::after {
    -webkit-transform: rotate(408deg);
    transform: rotate(408deg);
    top: 0.35em;
    height: 0.7em;
  }
}
