$slider-range-line-bar-weight: 6px !default;
$slider-range-point-width: 14px !default;
$slider-bar-background-color: $border !default;
$slider-bar-line-background-color: $text !default;
$slider-pointer-color: $primary !default;

.#{$ns}-range-slider {
  position: relative;
  width: 100%;

  &.is-dragging {
    .#{$ns}-range-progress-point {
      /*cursor: grabbing;*/
      transform: translate(-50%, -50%) scale(1.25, 1.25) !important;
    }
  }

  &.is-vertical {
    height: 320px; /* need be calculated */
    width: $slider-range-line-bar-weight;
    .#{$ns}-range-progress-bar {
      height: 100%;
      width: $slider-range-line-bar-weight;
      &-line {
        position: absolute;
        left: 0;
        height: 0;
        width: $slider-range-line-bar-weight;
        bottom: 0;
      }
    }

    .#{$ns}-range-progress-point {
      left: ($slider-range-line-bar-weight) / 2;
      top: 0;
      transform: translate(-50%, -50%);
      &:hover {
        transform: translate(-50%, -50%) scale(1.25, 1.25) !important;
      }
    }
  }

  &.is-horizontal {
    .#{$ns}-range-progress-point {
      top: ($slider-range-line-bar-weight) / 2;
      left: 0;
      transform: translate(-50%, -50%);
      &:hover {
        transform: translate(-50%, -50%) scale(1.25, 1.25) !important;
      }
    }
  }

  // Colors
  @each $name, $pair in $colors {
    $color: nth($pair, 1);

    &.is-#{$name} {
      .#{$ns}-range-progress {
        &-point {
          border-color: $color;
        }

        &-bar {
          &-line {
            background-color: $color;
          }
        }
      }
    }
  }
}

.#{$ns}-range-progress {
  &-bar {
    position: relative;
    height: $slider-range-line-bar-weight;
    background-color: $slider-bar-background-color;
    border-radius: 290486px;
    width: 100%;
    &-line {
      height: $slider-range-line-bar-weight;
      background-color: transparent;
      display: block;
      width: 0;
      border-radius: 290486px;
    }
  }

  &-point {
    position: absolute;
    width: $slider-range-point-width;
    height: $slider-range-point-width;
    background-color: $white;
    border: 2px solid $slider-pointer-color;
    border-radius: $slider-range-point-width;
    user-select: none;
    opacity: 1;
    cursor: grab;
  }
}