//@import "~root/scss/pre";

body {}

.demo-box {
  padding: 25px 0;
  &.has-pad-sm {
    padding: 5px 0;
  }
  a, button, input {
    font-weight: inherit;
    color: inherit;
  }

  &.sd-with-icon-bg {
    .has-icon {
      background-color: $white-ter;
    }
  }

  .has-icon {
    &.is-medium {
      .iconfont {
        font-size: 1.5rem;
      }
    }

    &.is-large{
      .iconfont {
        font-size: 2.5rem;
      }
    }
  }
}