@mixin make-icons-photon {
  .pt-note::before {
    content: "";
  }

  .pt-note-beamed::before {
    content: "";
  }

  .pt-music::before {
    content: "";
  }

  .pt-search::before {
    content: "";
  }

  .pt-flashlight::before {
    content: "";
  }

  .pt-mail::before {
    content: "";
  }

  .pt-heart::before {
    content: "";
  }

  .pt-heart-empty::before {
    content: "";
  }

  .pt-star::before {
    content: "";
  }

  .pt-star-empty::before {
    content: "";
  }

  .pt-user::before {
    content: "";
  }

  .pt-users::before {
    content: "";
  }

  .pt-user-add::before {
    content: "";
  }

  .pt-video::before {
    content: "";
  }

  .pt-picture::before {
    content: "";
  }

  .pt-camera::before {
    content: "";
  }

  .pt-layout::before {
    content: "";
  }

  .pt-menu::before {
    content: "";
  }

  .pt-check::before {
    content: "";
  }

  .pt-cancel::before {
    content: "";
  }

  .pt-cancel-circled::before {
    content: "";
  }

  .pt-cancel-squared::before {
    content: "";
  }

  .pt-plus::before {
    content: "";
  }

  .pt-plus-circled::before {
    content: "";
  }

  .pt-plus-squared::before {
    content: "";
  }

  .pt-minus::before {
    content: "";
  }

  .pt-minus-circled::before {
    content: "";
  }

  .pt-minus-squared::before {
    content: "";
  }

  .pt-help::before {
    content: "";
  }

  .pt-help-circled::before {
    content: "";
  }

  .pt-info::before {
    content: "";
  }

  .pt-info-circled::before {
    content: "";
  }

  .pt-back::before {
    content: "";
  }

  .pt-home::before {
    content: "";
  }

  .pt-link::before {
    content: "";
  }

  .pt-attach::before {
    content: "";
  }

  .pt-lock::before {
    content: "";
  }

  .pt-lock-open::before {
    content: "";
  }

  .pt-eye::before {
    content: "";
  }

  .pt-tag::before {
    content: "";
  }

  .pt-bookmark::before {
    content: "";
  }

  .pt-bookmarks::before {
    content: "";
  }

  .pt-flag::before {
    content: "";
  }

  .pt-thumbs-up::before {
    content: "";
  }

  .pt-thumbs-down::before {
    content: "";
  }

  .pt-download::before {
    content: "";
  }

  .pt-upload::before {
    content: "";
  }

  .pt-upload-cloud::before {
    content: "";
  }

  .pt-reply::before {
    content: "";
  }

  .pt-reply-all::before {
    content: "";
  }

  .pt-forward::before {
    content: "";
  }

  .pt-quote::before {
    content: "";
  }

  .pt-code::before {
    content: "";
  }

  .pt-export::before {
    content: "";
  }

  .pt-pencil::before {
    content: "";
  }

  .pt-feather::before {
    content: "";
  }

  .pt-print::before {
    content: "";
  }

  .pt-retweet::before {
    content: "";
  }

  .pt-keyboard::before {
    content: "";
  }

  .pt-comment::before {
    content: "";
  }

  .pt-chat::before {
    content: "";
  }

  .pt-bell::before {
    content: "";
  }

  .pt-attention::before {
    content: "";
  }

  .pt-alert::before {
    content: "";
  }

  .pt-vcard::before {
    content: "";
  }

  .pt-address::before {
    content: "";
  }

  .pt-location::before {
    content: "";
  }

  .pt-map::before {
    content: "";
  }

  .pt-direction::before {
    content: "";
  }

  .pt-compass::before {
    content: "";
  }

  .pt-cup::before {
    content: "";
  }

  .pt-trash::before {
    content: "";
  }

  .pt-doc::before {
    content: "";
  }

  .pt-docs::before {
    content: "";
  }

  .pt-doc-landscape::before {
    content: "";
  }

  .pt-doc-text::before {
    content: "";
  }

  .pt-doc-text-inv::before {
    content: "";
  }

  .pt-newspaper::before {
    content: "";
  }

  .pt-book-open::before {
    content: "";
  }

  .pt-book::before {
    content: "";
  }

  .pt-folder::before {
    content: "";
  }

  .pt-archive::before {
    content: "";
  }

  .pt-box::before {
    content: "";
  }

  .pt-rss::before {
    content: "";
  }

  .pt-phone::before {
    content: "";
  }

  .pt-cog::before {
    content: "";
  }

  .pt-tools::before {
    content: "";
  }

  .pt-share::before {
    content: "";
  }

  .pt-shareable::before {
    content: "";
  }

  .pt-basket::before {
    content: "";
  }

  .pt-bag::before {
    content: "";
  }

  .pt-calendar::before {
    content: "";
  }

  .pt-login::before {
    content: "";
  }

  .pt-logout::before {
    content: "";
  }

  .pt-mic::before {
    content: "";
  }

  .pt-mute::before {
    content: "";
  }

  .pt-sound::before {
    content: "";
  }

  .pt-volume::before {
    content: "";
  }

  .pt-clock::before {
    content: "";
  }

  .pt-hourglass::before {
    content: "";
  }

  .pt-lamp::before {
    content: "";
  }

  .pt-light-down::before {
    content: "";
  }

  .pt-light-up::before {
    content: "";
  }

  .pt-adjust::before {
    content: "";
  }

  .pt-block::before {
    content: "";
  }

  .pt-resize-full::before {
    content: "";
  }

  .pt-resize-small::before {
    content: "";
  }

  .pt-popup::before {
    content: "";
  }

  .pt-publish::before {
    content: "";
  }

  .pt-window::before {
    content: "";
  }

  .pt-arrow-combo::before {
    content: "";
  }

  .pt-down-circled::before {
    content: "";
  }

  .pt-left-circled::before {
    content: "";
  }

  .pt-right-circled::before {
    content: "";
  }

  .pt-up-circled::before {
    content: "";
  }

  .pt-down-open::before {
    content: "";
  }

  .pt-left-open::before {
    content: "";
  }

  .pt-right-open::before {
    content: "";
  }

  .pt-up-open::before {
    content: "";
  }

  .pt-down-open-mini::before {
    content: "";
  }

  .pt-left-open-mini::before {
    content: "";
  }

  .pt-right-open-mini::before {
    content: "";
  }

  .pt-up-open-mini::before {
    content: "";
  }

  .pt-down-open-big::before {
    content: "";
  }

  .pt-left-open-big::before {
    content: "";
  }

  .pt-right-open-big::before {
    content: "";
  }

  .pt-up-open-big::before {
    content: "";
  }

  .pt-down::before {
    content: "";
  }

  .pt-left::before {
    content: "";
  }

  .pt-right::before {
    content: "";
  }

  .pt-up::before {
    content: "";
  }

  .pt-down-dir::before {
    content: "";
  }

  .pt-left-dir::before {
    content: "";
  }

  .pt-right-dir::before {
    content: "";
  }

  .pt-up-dir::before {
    content: "";
  }

  .pt-down-bold::before {
    content: "";
  }

  .pt-left-bold::before {
    content: "";
  }

  .pt-right-bold::before {
    content: "";
  }

  .pt-up-bold::before {
    content: "";
  }

  .pt-down-thin::before {
    content: "";
  }

  .pt-left-thin::before {
    content: "";
  }

  .pt-right-thin::before {
    content: "";
  }

  .pt-up-thin::before {
    content: "";
  }

  .pt-ccw::before {
    content: "";
  }

  .pt-cw::before {
    content: "";
  }

  .pt-arrows-ccw::before {
    content: "";
  }

  .pt-level-down::before {
    content: "";
  }

  .pt-level-up::before {
    content: "";
  }

  .pt-shuffle::before {
    content: "";
  }

  .pt-loop::before {
    content: "";
  }

  .pt-switch::before {
    content: "";
  }

  .pt-play::before {
    content: "";
  }

  .pt-stop::before {
    content: "";
  }

  .pt-pause::before {
    content: "";
  }

  .pt-record::before {
    content: "";
  }

  .pt-to-end::before {
    content: "";
  }

  .pt-to-start::before {
    content: "";
  }

  .pt-fast-forward::before {
    content: "";
  }

  .pt-fast-backward::before {
    content: "";
  }

  .pt-progress-0::before {
    content: "";
  }

  .pt-progress-1::before {
    content: "";
  }

  .pt-progress-2::before {
    content: "";
  }

  .pt-progress-3::before {
    content: "";
  }

  .pt-target::before {
    content: "";
  }

  .pt-palette::before {
    content: "";
  }

  .pt-list::before {
    content: "";
  }

  .pt-list-add::before {
    content: "";
  }

  .pt-signal::before {
    content: "";
  }

  .pt-trophy::before {
    content: "";
  }

  .pt-battery::before {
    content: "";
  }

  .pt-back-in-time::before {
    content: "";
  }

  .pt-monitor::before {
    content: "";
  }

  .pt-mobile::before {
    content: "";
  }

  .pt-network::before {
    content: "";
  }

  .pt-cd::before {
    content: "";
  }

  .pt-inbox::before {
    content: "";
  }

  .pt-install::before {
    content: "";
  }

  .pt-globe::before {
    content: "";
  }

  .pt-cloud::before {
    content: "";
  }

  .pt-cloud-thunder::before {
    content: "";
  }

  .pt-flash::before {
    content: "";
  }

  .pt-moon::before {
    content: "";
  }

  .pt-flight::before {
    content: "";
  }

  .pt-paper-plane::before {
    content: "";
  }

  .pt-leaf::before {
    content: "";
  }

  .pt-lifebuoy::before {
    content: "";
  }

  .pt-mouse::before {
    content: "";
  }

  .pt-briefcase::before {
    content: "";
  }

  .pt-suitcase::before {
    content: "";
  }

  .pt-dot::before {
    content: "";
  }

  .pt-dot-2::before {
    content: "";
  }

  .pt-dot-3::before {
    content: "";
  }

  .pt-brush::before {
    content: "";
  }

  .pt-magnet::before {
    content: "";
  }

  .pt-infinity::before {
    content: "";
  }

  .pt-erase::before {
    content: "";
  }

  .pt-chart-pie::before {
    content: "";
  }

  .pt-chart-line::before {
    content: "";
  }

  .pt-chart-bar::before {
    content: "";
  }

  .pt-chart-area::before {
    content: "";
  }

  .pt-tape::before {
    content: "";
  }

  .pt-graduation-cap::before {
    content: "";
  }

  .pt-language::before {
    content: "";
  }

  .pt-ticket::before {
    content: "";
  }

  .pt-water::before {
    content: "";
  }

  .pt-droplet::before {
    content: "";
  }

  .pt-air::before {
    content: "";
  }

  .pt-credit-card::before {
    content: "";
  }

  .pt-floppy::before {
    content: "";
  }

  .pt-clipboard::before {
    content: "";
  }

  .pt-megaphone::before {
    content: "";
  }

  .pt-database::before {
    content: "";
  }

  .pt-drive::before {
    content: "";
  }

  .pt-bucket::before {
    content: "";
  }

  .pt-thermometer::before {
    content: "";
  }

  .pt-key::before {
    content: "";
  }

  .pt-flow-cascade::before {
    content: "";
  }

  .pt-flow-branch::before {
    content: "";
  }

  .pt-flow-tree::before {
    content: "";
  }

  .pt-flow-line::before {
    content: "";
  }

  .pt-flow-parallel::before {
    content: "";
  }

  .pt-rocket::before {
    content: "";
  }

  .pt-gauge::before {
    content: "";
  }

  .pt-traffic-cone::before {
    content: "";
  }

  .pt-cc::before {
    content: "";
  }

  .pt-cc-by::before {
    content: "";
  }

  .pt-cc-nc::before {
    content: "";
  }

  .pt-cc-nc-eu::before {
    content: "";
  }

  .pt-cc-nc-jp::before {
    content: "";
  }

  .pt-cc-sa::before {
    content: "";
  }

  .pt-cc-nd::before {
    content: "";
  }

  .pt-cc-pd::before {
    content: "";
  }

  .pt-cc-zero::before {
    content: "";
  }

  .pt-cc-share::before {
    content: "";
  }

  .pt-cc-remix::before {
    content: "";
  }

  .pt-github::before {
    content: "";
  }

  .pt-github-circled::before {
    content: "";
  }

  .pt-flickr::before {
    content: "";
  }

  .pt-flickr-circled::before {
    content: "";
  }

  .pt-vimeo::before {
    content: "";
  }

  .pt-vimeo-circled::before {
    content: "";
  }

  .pt-twitter::before {
    content: "";
  }

  .pt-twitter-circled::before {
    content: "";
  }

  .pt-facebook::before {
    content: "";
  }

  .pt-facebook-circled::before {
    content: "";
  }

  .pt-facebook-squared::before {
    content: "";
  }

  .pt-gplus::before {
    content: "";
  }

  .pt-gplus-circled::before {
    content: "";
  }

  .pt-pinterest::before {
    content: "";
  }

  .pt-pinterest-circled::before {
    content: "";
  }

  .pt-tumblr::before {
    content: "";
  }

  .pt-tumblr-circled::before {
    content: "";
  }

  .pt-linkedin::before {
    content: "";
  }

  .pt-linkedin-circled::before {
    content: "";
  }

  .pt-dribbble::before {
    content: "";
  }

  .pt-dribbble-circled::before {
    content: "";
  }

  .pt-stumbleupon::before {
    content: "";
  }

  .pt-stumbleupon-circled::before {
    content: "";
  }

  .pt-lastfm::before {
    content: "";
  }

  .pt-lastfm-circled::before {
    content: "";
  }

  .pt-rdio::before {
    content: "";
  }

  .pt-rdio-circled::before {
    content: "";
  }

  .pt-spotify::before {
    content: "";
  }

  .pt-spotify-circled::before {
    content: "";
  }

  .pt-qq::before {
    content: "";
  }

  .pt-instagram::before {
    content: "";
  }

  .pt-dropbox::before {
    content: "";
  }

  .pt-evernote::before {
    content: "";
  }

  .pt-flattr::before {
    content: "";
  }

  .pt-skype::before {
    content: "";
  }

  .pt-skype-circled::before {
    content: "";
  }

  .pt-renren::before {
    content: "";
  }

  .pt-sina-weibo::before {
    content: "";
  }

  .pt-paypal::before {
    content: "";
  }

  .pt-picasa::before {
    content: "";
  }

  .pt-soundcloud::before {
    content: "";
  }

  .pt-mixi::before {
    content: "";
  }

  .pt-behance::before {
    content: "";
  }

  .pt-google-circles::before {
    content: "";
  }

  .pt-vkontakte::before {
    content: "";
  }

  .pt-smashing::before {
    content: "";
  }

  .pt-sweden::before {
    content: "";
  }

  .pt-db-shape::before {
    content: "";
  }

  .pt-logo-db::before {
    content: "";
  }
}
