$input-checkbox-checked-iconfont-code: '\e72e' !default;
$input-checkbox-indeterminate-iconfont-code: '\e729' !default;

.#{$ns}-checkbox,
.#{$ns}-radio {
  @include unselectable;
  cursor: pointer;
  display: inline-flex;
  line-height: 1.25;
  position: relative;
  align-items: center;

  input {
    cursor: pointer;
    margin-right: 5px;
  }

  &:hover {
    color: $input-hover-color;
  }

  &[disabled] {
    color: $input-disabled-color;
    cursor: not-allowed;
  }

  input:checked ~ .#{$ns}-fake-radio,
  input:checked ~ .#{$ns}-fake-checkbox,
  input:indeterminate ~ .#{$ns}-fake-checkbox {
    box-shadow: none;
    background-color: $primary;
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, 0));
    color: #fff;

    &:before {
    }
  }
}

.#{$ns}-fake-radio,
.#{$ns}-fake-checkbox {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  top: 2px;
  left: 0;
  margin: 0;
  border: none;
  box-shadow: inset 0 0 0 1px rgba(16, 22, 26, .2), inset 0 -1px 0 rgba(16, 22, 26, .1);
  background-clip: padding-box;
  background-color: #f5f8fa;
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .8), hsla(0, 0%, 100%, 0));
  cursor: pointer;
  width: 16px;
  height: 16px;
  line-height: 16px;
  user-select: none;
}

.#{$ns}-radio {
  & + .#{$ns}-radio {
    margin-left: 8px;
  }

  &.is-fake-face {
    padding-left: 1.4em;

    input {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      z-index: -1;
    }

    .#{$ns}-fake-radio {
      border-radius: 50%;
      font-size: $size-unit;
    }

    input:checked ~ .#{$ns}-fake-radio {
      &:before {
        font-size: 0.375em;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background: #fff;
        width: 1em;
        height: 1em;
        content: "";
      }
    }

    input:disabled ~ .#{$ns}-fake-radio {
      box-shadow: none;
      background: rgba(206, 217, 224, .5);
      cursor: not-allowed;
    }
  }
}

.#{$ns}-checkbox {
  & + .#{$ns}-checkbox {
    margin-left: 8px;
  }

  &.is-fake-face {
    padding-left: 1.4em;

    input {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      z-index: -1;
    }

    .#{$ns}-fake-checkbox {
      border-radius: 3px;
      font-size: $size-unit;
    }

    input:checked ~ .#{$ns}-fake-checkbox,
    input:indeterminate ~ .#{$ns}-fake-checkbox {
      font-size: 0.875em;
      text-align: center;
      &:before {
        font-family: "iconfont", serif;
        content: $input-checkbox-checked-iconfont-code;
        font-weight: bold;
      }
    }

    input:indeterminate ~ .#{$ns}-fake-checkbox {
      font-size: 0.75em;
      &:before {
        content: $input-checkbox-indeterminate-iconfont-code;
      }
    }
  }
}

.#{$ns}-label {
  color: $label-color;
  display: block;
  font-size: $size-normal;
  font-weight: $label-weight;
  line-height: 1.5em;

  &:not(:last-child) {
    margin-bottom: 0.5em;
  }

  // Sizes
  &.is-small {
    font-size: $size-small;
  }

  &.is-medium {
    font-size: $size-medium;
  }

  &.is-large {
    font-size: $size-large;
  }
}

.#{$ns}-help {
  display: block;
  font-size: $help-size;
  margin-top: 0.25rem;

  @each $name, $pair in $colors {
    $color: nth($pair, 1);

    &.is-#{$name} {
      color: $color;
    }
  }
}
