.#{$ns}-datepicker {
  font-size: 0.875 * $size-unit;

  .#{$ns}-dropdown,
  .#{$ns}-dropdown-trigger {
    width: 100%;
  }

  .#{$ns}-dropdown-item {
    font-size: inherit;
  }

  &-header {
    padding-bottom: 0.5 * $size-unit;
    padding-left: 0.5 * $size-unit;
    padding-right: 0.5 * $size-unit;
    margin-bottom: 0.875 * $size-unit;
    border-bottom: 1px solid $grey-lighter;
  }

  &-footer {
    padding-top: 0.875 * $size-unit;
    border-top: 1px solid $grey-lighter;
  }

  &-table {
    display: table;
    margin: 0 auto 0.875 * $size-unit auto;
    padding: 6px;
    .table-cell {
      text-align: center;
      vertical-align: middle;
      display: table-cell;
      border-radius: $radius;
      padding: 0.5 * $size-unit 0.75 * $size-unit;
    }
    .table-header {
      @extend .#{$ns}-datepicker-header;
      display: table-header-group;
      .table-cell {
        color: $grey;
        font-weight: $weight-semibold;
      }
    }
    .table-body {
      display: table-row-group;
      .table-row {
        display: table-row;
        .table-cell {
          &.is-unselectable {
            color: $grey-light;
          }
          &.is-today {
            border: solid 1px rgba($primary, 0.5);
          }
          &.is-selectable {
            color: $grey-dark;
            &:hover:not(.is-selected),
            &:focus:not(.is-selected) {
              background-color: $background;
              color: $black;
              cursor: pointer;
            }
          }
          &.is-selected {
            background-color: $primary;
            color: $primary-invert;
          }
        }
      }
    }
  }

  &.is-small {
    @include control-small;
  }
  &.is-medium {
    @include control-medium;
  }
  &.is-large {
    @include control-large;
  }

  &.has-input {
    .#{$ns}-datepicker-header {
      .v-field {
        justify-content: space-between;
      }
    }
  }
}